# Copy to a private env file or export these values in the operator shell.
PALPO_SERVER_NAME=127.0.0.1:8128
PALPO_PUBLIC_URL=http://127.0.0.1:8128
PALPO_HOST_PORT=8128
PALPO_DB_HOST=palpo-postgres
PALPO_DB_PORT=5432
PALPO_DB_NAME=palpo
PALPO_DB_USER=palpo
PALPO_DB_PASSWORD='<generate-a-private-database-password>'
PALPO_APPSERVICE_URL=http://host.docker.internal:8091
PALPO_AS_TOKEN='<generate-with-openssl-rand-hex-32>'
PALPO_HS_TOKEN='<generate-with-openssl-rand-hex-32>'
PALPO_REGISTRATION_TOKEN='<generate-with-openssl-rand-hex-32>'
PALPO_SENDER_LOCALPART=_agentchat_appservice
PALPO_ADMIN_USER=admin
PALPO_ADMIN_PASSWORD='<generate-a-private-admin-password>'
PALPO_BOT_USER=agent-bridge
PALPO_BOT_PASSWORD='<generate-a-private-bot-password>'
PALPO_RUNTIME_DIR=./.runtime
